#experience {
    padding: 70px 25px;
}
#experience h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}
#experience-timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #00b2a9;
    z-index: 0;
}
.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #00b2a9;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}
.vtimeline-icon i {
    display: block;
    font-size: 1.5em;
    margin-top: 13px;
    margin-left: 9px;
    text-align: center;
}
.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 15px;
    font-weight: 300;
    color: #374054;
}
.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 20px;
}
.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}
.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}
.vtimeline-content p {
    color: #74808a;
    font-size: .9em;
    margin: 0;
}
#experience-timeline:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    background: #00b2a9;
    background: linear-gradient(to bottom, #00b2a9, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px;
}


@media (max-width: 750px) {
    #experience #experience-timeline:before,
    #experience #experience-timeline:after {
        left: 23px;
    }
    #experience .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }
    #experience .vtimeline-icon {
        margin-left: 0;
    }
    #experience .vtimeline-content {
        margin-left: 70px;
    }
}