body { margin:0; overflow:hidden; background: #C4CED4; }

@font-face {
	font-family: blocktopia;
	src: url('src/blocktopia.woff');
}

@font-face {
	font-family: scoreboard;
	src: url('src/scoreboard.woff');
}

div#container,
div#container div,
div#container img {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	transform: translateZ(0);
	position: absolute;
}

div#container .center {
	left: 0;
	top: 0; 
	right: 0; 
	bottom: 0;
	margin: auto;
}

div#container .button {
	cursor: pointer;
}

div#container {
    display: block;
	width: 960px;
	height: 500px;
	background-repeat: no-repeat;
	overflow: hidden;
    position: relative;
    margin: auto;
}

div#container img {
    display: none;
}

/* >>>>------------------------------!> SIDEPANEL */

div#container #SIDEPANEL {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 500px;
	background-color: #e1e1e1;
}

/* VIDEO */

div#container #videoHolder {
	left: 0px;
	bottom: 0px;
	width: 300px;
	height: 169px;
	background: black url('src/vid_badcall.png') no-repeat;
	background-size: cover;
}

div#container #videoHolder.IceBath {
	background: black url('src/vid_icebath.png') no-repeat;
}

div#container #videoHolder.Slap {
	background: black url('src/vid_slap.png') no-repeat;
}

div#container #videoPlayer, 
div#container #videoHolder video {
	width: 100%;
	height: 100%;
}

div#container #btn_videoplay.init {
	background: url('src/btn_play.png') center center no-repeat;	
}

div#container #btn_videoplay {
	display: none;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('src/btn_replay.png') no-repeat center center rgba(0,0,0,.5);	
}

div#container #btn_videoplay:hover {
	background-size: 25%;
}

div#container #btn_videosound {
	display: none;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('src/btn_videosound.png') center center no-repeat;			
}

/* >>>>------------------------------!> LOGOPANEL */

div#container #LOGOPANEL {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 48px;	
	background: white;
	overflow: hidden;
}

div#container #logo {
	width: 109px;
	height: 31px;
	background: url('src/logo.png') center center no-repeat;	
}

div#container .redstripe {
	top: 0px;
	width: 26px;
	height: 48px;
	background-color:#e4002b;			
}

div#container #redstripe1 {
	left: 0px;
}

div#container #redstripe2 {
	left: 52px;
}

div#container #redstripe3 {
	right: 52px;
}

div#container #redstripe4 {
	right: 0px;
}


/* >>>>------------------------------!> SCOREPANEL */

div#container #SCOREPANEL {
	left: 10px;
    top: 65px;
    width: 279px;
    height: 112px;
	background: black url('src/scoreboard.png') no-repeat center center;
    border-radius: 21px;
}

/* >>>>------------------------------!> BUTTONPANEL */

div#container #BUTTONPANEL {
	left: 0px;
    top: 190px;
    width: 300px;
    height: 130px;
}

/* btn_cta */

div#container #btn_cta {
	left: 10px;
    top: 14px;
    width: 279px;
    height: 48px;
	background-color:#e4002b;
}

div#container #cta {
    width: 212px;
    height: 13px;
	background: url('src/cta.png') no-repeat left top;
    border-radius: 21px;
}

div#container #btn_cta:hover {
	background-color: white;
}

div#container #btn_cta:hover #cta {
	background-position: 0 -23px;
}

/* btns & btn */

div#container .btns {
	top: 68px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

div#container .btn {
    width: 40px;
    height: 40px;
	background: url('src/btn.png') no-repeat left top;
}

/* btn_fb */

div#container #btn_fb {
	left: 43px;
}

div#container #fb {
   	background-position: 0 0;
}

/* btn_tw */

div#container #btn_tw {
	left: 94px;
}

div#container #tw {
   	background-position: -50px 0;
}

/* btn_in */

div#container #btn_in {
	left: 148px;
}

div#container #in {
   	background-position: -100px 0;
}

div#container #btn_fb:hover #fb,
div#container #btn_tw:hover #tw,
div#container #btn_in:hover #in {
	top: -5px;
}

/* btn_sound */

div#container #btn_sound {
	left: 200px;
}

div#container #sound {
   	background-position: -150px 0;
	opacity: 0.5
}

div#container #sound.mute {
    background-position: -200px 0;
}

div#container #btn_sound:hover #sound {
	opacity: 1;
}


/* >>>>------------------------------!> MAINPANEL */

div#container #MAINPANEL {
	left: 300px;
    top: 0px;
    width: 660px;
    height: 500px;
	overflow: hidden;
}

/* STEP_1 */
div#container #STEP_1 {
	left: 0px;
	top: 0px;
	width: 660px;
    height: 500px;
	background-color: rgba(0,0,0,0.76);
}

div#container #txt_headline {
	top: 104px;
    width: 660px;
    height: 250px;
}

div#container #instruction {
	background: url('src/bg_instruction.png') no-repeat top left;
	left: 20px;
    top: 45px;
	width: 479px;
    height: 250px;
	display: none;
}

div#container #colonel {
	background: url('src/colonel.png') no-repeat top left;
	left: 0px;
    bottom: 0px;
	width: 196px;
	height: 311px;
	display: none;
}

div#container #colonel.speak {
	animation: speak .18s steps(2) infinite;
}

div#container #ball {
	background: url('src/ball.png') no-repeat top left;
	left: 660px;
    top: 150px;
	width: 124px;
    height: 70px;
}

div#container #txt_title {
	left: 20px;
	top: -337px;
    width: 479px;
	height: 125px;
	display: none;
}

div#container #btn_play {
	left: 200px;
    bottom: 7px;
    width: 340px;
    height: 90px;
	display: none;
}

div#container #arw_right {
	top: 26px;
    left: 290px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #e4002b;
}

div#container #btn_play:hover #arw_right {
	left: 295px;
}

/* STEP_3 */

div#container #STEP_3 {
	left: 0px;
	top: 0px;
	width: 660px;
    height: 500px;
	background-color: rgba(0,0,0,0.76);
	display: none;
}

div#container #bigbucket {
	background: url('src/bigbucket.png') no-repeat;
    top: -265px;
	width: 181px;
    height: 157px;
}

div#container #btn_playagain {
    top: 372px;
    width: 340px;
    height: 90px;
}

div#container #arw_left {
	top: 26px;
    left: 25px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #e4002b;
}

div#container #btn_playagain:hover #arw_left {
	left: 20px;
}

div#container .confetti {
	background: url('src/confetti.png');
    width: 899px;
    height: 680px;
	display:none;
}

div#container #confetti1 {
	top: 680px;
    left: 0px;	
}

div#container #confetti2 {
	top: 680px;
    left: 0px;
	transform: rotate(180deg);
}

div#container #confetti1.animate,
div#container #confetti2.animate {
	display: block;
    animation: confetti .8s steps(4) infinite;
}


div#container #field {
	background: url('src/field.png');
	left: 0px;
    bottom: 0px;
	width: 1065px;
    height: 375px;
}

div#container #crowd {
	background: url('src/crowd.png');
	left: 0px;
    top: 0px;
    width: 1059px;
    height: 125px;
}

div#container #touchdown {
	background: url('src/touchdown.png');
	right: -360px;
    bottom: 0px;
    width: 360px;
    height: 375px;
}

div#container .sprite {
	background: url('src/sprite.png');
	left: 0px;
    top: 0px;
    width: 150px;
	height: 190px;
}

div#container #crowd.animate {
	animation: crowd .4s steps(2) infinite;
}

/* player */

div#container #player {
	left: 80px;
    top: 263px;
    width: 40px;
	height: 100px;
	background: transparent;
    border-radius: 25px;
	display: none;
}

div#container #character {
	left: -60px;
	top: -111px;
}

div#container #stars {
	left: -45px;
    top: -195px;
	background-position-x: -1650px;
	display:none;
}

div#container .items .sprite.shadow.active{
	display: block;
}

div#container #character.run {
	animation: run .5s steps(4) infinite;
}

div#container #stars.animate {
	display: block;
    animation: stars .3s steps(3) infinite;
}

div#container #character.dance {
	animation: dance .4s steps(2) infinite;
}

/* items */

div#container .items {
	left: 720px;
	width: 40px;
	height: 100px;
	background: transparent;
    border-radius: 25px;
}

div#container .items .sprite{
	left: -45px;
	top: -102px;
}

div#container .top_items {
	top: 132px;
}

div#container .mid_items {
	top: 263px;
}

div#container .bot_items {
	top: 394px;
}

div#container .items .sprite.chicken {
	background-position-x: -1350px;
	animation: moveup .32s steps(2) infinite;
}

div#container .items .sprite.bucket {
	background-position-x: -1200px;
	animation: moveup .32s steps(2) infinite;
}

div#container .items .sprite.opponent1 {
	background-position-x: -600px;
	animation: opponent1 .3s steps(2) infinite;
}

div#container .items .sprite.opponent2 {
	background-position-x: -900px;
	animation: opponent2 .3s steps(2) infinite;
}

div#container .items .sprite.shadow{
	background-position-x: -1500px;
	display: none;
}

/* ANIMATIONS */


@keyframes speak {
	100% { background-position-x: -412px; }
}

@keyframes speak {
	100% { background-position-x: -412px; }
}


@keyframes run {
	100% { background-position-x: -600px; }
}

@keyframes dance {
	100% { background-position-x: 300px; }
}

@keyframes opponent1 {
    100% { background-position-x: -900px; }
}

@keyframes opponent2 {
    100% { background-position-x: -1200px; }
}

@keyframes moveup{
    100% { top: -125px; }
}

@keyframes stars {
	100% { background-position-x: -2100px; }
}

@keyframes crowd {
	100% { background-position-y: -250px; }
}

@keyframes confetti {
    100% { background-position-x: -300px; }
}

/* TEXT */

div#container #score {
	left: 144px;
    top: 27px;
    width: 100px;
    height: 100px;
    font-family: scoreboard;
    font-size: 475%;
    color: white;
    text-align: center;
    line-height: 78%;
    letter-spacing: 1px;
    pointer-events: none;
}

div#container #plus {
	left: -40px;
    top: -10px;
    width: 120px;
    height: 50px;
    font-family: blocktopia;
    font-size: 320%;
    color: white;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0;
    pointer-events: none;
    text-shadow: 5px 4px #e4002b, 8px 7px black;
}

div#container #txt_presents {
   	width: 660px;
    height: 70px;
    font-family: blocktopia;
    font-size: 290%;
    transform: skewX(-10deg);
    color: #e4002b;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
}

div#container #registered {
	vertical-align: super;
    font-size: 44%;
}

div#container #txt_kb {
    top: 50px;
    width: 660px;
    height: 70px;
    font-family: blocktopia;
    font-size: 426%;
    color: white;
    text-align: center;
    line-height: 100%;
    letter-spacing: 1px;
    pointer-events: none;
    text-shadow: 3px 3px #e4002b;
}

div#container #txt_rush {
	left: -5px;
	top: 101px;
    width: 660px;
    height: 110px;
    font-family: blocktopia;
    font-size: 770%;
    transform: skewX(-10deg);
    color: white;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
    text-shadow: 3px 3px #e4002b;
}

div#container #txt_kb2 {
   	width: 479px;
    height: 70px;
    font-family: blocktopia;
    font-size: 335%;
    color: white;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
    text-shadow: 3px 3px #e4002b;
}

div#container #txt_rush2 {
	top: 42px;
    width: 479px;
    height: 85px;
    font-family: blocktopia;
    font-size: 596%;
    transform: skewX(-10deg);
    color: white;
    text-align: center;
    line-height: 100%;
    letter-spacing: 1px;
    pointer-events: none;
    text-shadow: 3px 3px #e4002b;
}

div#container #txt_huthike {
    left: -20px;
    top: 20px;
    width: 340px;
    height: 90px;
    font-family: blocktopia;
    font-size: 351%;
    color: #e4002b;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
}

div#container #txt_usearrowkeys {
    left: 190px;
    top: 90px;
    width: 0;
    font-family: blocktopia;
    font-size: 235%;
    color: black;
    text-align: left;
    line-height: 100%;
	white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
}

div#container #txt_tomove {
    left: 190px;
    top: 130px;
   	width: 0;
    height: 45px;
    font-family: blocktopia;
    font-size: 235%;
    color: black;
    text-align: left;
    line-height: 100%;
	white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
}

div#container #txt_touchdown {
    top: 204px;
    width: 660px;
    height: 70px;
    font-family: blocktopia;
    font-size: 302%;
    color: white;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
    text-shadow: 3px 3px #e4002b;
}

div#container #txt_buckets {
	top: 239px;
    width: 660px;
    height: 90px;
    font-family: blocktopia;
    font-size: 658%;
    color: white;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
    text-shadow: 3px 3px #e4002b;
}

div#container #txt_points {
	top: 344px;
    width: 660px;
    height: 35px;
    font-family: blocktopia;
    font-size: 195%;
    color: white;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
}

div#container #txt_playagain {	
	left: 20px;
    top: 20px;
    width: 340px;
    height: 60px;
    font-family: blocktopia;
    font-size: 360%;
    color: #e4002b;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
}