body, html {
  margin: 0;
  padding: 0;
}

/* DEFAULT */
div#container,
div#container div,
div#container img {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
/*	position: absolute;*/
}

div#container {
	width: 960px;
	height: 500px;
	background-color: #000000;
	background-repeat: no-repeat;
	overflow: hidden;
}

div#container img {	transform: translateZ(0); }

/* CREATIVE */

.output {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  color: orange;
  z-index: 1;
  opacity: 0;
}

.ad {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 500px;
  background-color: black;
  overflow: hidden;
}
.bg,
.bg-blur {
  position: absolute;
  top: -20px;
  left: 0;
  width: 960px;
  height: 540px;
  background: url('src/bg.jpg') no-repeat center / cover;
}
.bg-blur {
  background: url('src/bg-blur.jpg') no-repeat center / cover;
  opacity: 0;
}
.logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 16px;
  background: url('src/logo.png') no-repeat center / contain;
  transform: translateZ(0);
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 756px;
  height: 354px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: all .5s linear 1s;
  pointer-events: none;
}
.intro-container.animate {
  opacity: 1;
  pointer-events: all;
}
.intro-title {
  position: relative;
  width: 558px;
  height: 121px;
  margin: 35px auto 0;
  background: url('src/intro-title.png') no-repeat center / contain;
}
.intro-cta-mic,
.intro-cta-no-mic {
  position: relative;
  width: 314px;
  height: 67px;
  margin: 60px auto 0;
  background: url('src/intro-cta-mic.png') no-repeat center / contain;
  cursor: pointer;
  float: left;
  transition: all .25s ease-in-out;
}
.intro-cta-mic {
  margin-left: 55px;
}
.intro-cta-no-mic {
  margin-top: 60px;
  background: url('src/intro-cta-no-mic.png') no-repeat center / contain;
}
.intro-cta-mic .white,
.intro-cta-no-mic .white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('src/intro-cta-no-mic-white.png') no-repeat center / contain;
  opacity: 0;
  transition: opacity .25s linear;
}
.intro-cta-mic .white {
  background: url('src/intro-cta-mic-white.png') no-repeat center / contain;
}
.intro-cta-mic:hover .white,
.intro-cta-no-mic:hover .white {
  opacity: 1;
}

.cta-mic {
  position: absolute;
  top: 0;
  left: 0;
  width: 98px;
  height: 99px;
  border-radius: 99px;
  overflow: hidden;
  transform-origin: left top; 
  transform: scale(0.7);
  animation: mic_icon_ani 0.2s steps(15) infinite;
  background-image: url('src/cta-mic.png');
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.25s linear;
}
.cta-mic.no {
  background-image: url('src/cta-mic-no.png');
}
@keyframes mic_icon_ani {
  100% {
    background-position: -1470px 0;
  }
}
.intro-cta-mic:hover .cta-mic,
.intro-cta-no-mic:hover .cta-mic {
  background-color: rgba(255, 255, 255, .1);
}

.base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .25s linear 1.5s;
  pointer-events: none;
}
.base.animate {
  opacity: 1;
  pointer-events: all;
}
.shadow {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 475px;
  background: url('src/shadow.png') no-repeat bottom center / cover;
  opacity: 0;
  transition: opacity .25s linear;
}
.shadow.animate,
.click.animate {
  opacity: 1;
}
.click {
  position: absolute;
  height: 36px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .7);
  background-repeat: no-repeat;
  background-position: right center;

  top: 37px;
  left: 115px;
  width: 700px;
  background-image: url('src/click-text.png');
  background-size: 700px 36px;

  opacity: 0;
  cursor: pointer;
  transition: transform .25s ease-in-out, opacity .25s linear 0s, width .15s linear 0s;
  pointer-events: none;
}
.cta {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateZ(0) translateX(-50%) scale(1);
  width: 182px;
  height: 35px;
  border-radius: 7px;
  background: url('src/cta.png') no-repeat center / contain;
  cursor: pointer;
}
.cta:hover {
  background-color: rgba(0, 0, 0, .2);
}
.alexa::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 8px;
  width: 13px;
  height: 22px;
  background: url('src/mic-ico.png') no-repeat center / contain;
  opacity: 1;
  transition: opacity .25s linear .15s;
}
.alexa.disabled::before {
  opacity: 0;
}
.alexa {
  position: absolute;
  height: 36px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .7);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  cursor: pointer;
  transition: all .25s ease-in-out;
  opacity: 0;
  cursor: pointer;
  transition: transform .25s ease-in-out, opacity .25s linear 3s, width .15s linear 0s;
  pointer-events: none;
}
.alexa.animate {
  opacity: 1;
}
.alexa.pointers {
  pointer-events: all;
}
.alexa:hover {
  transform: scale(1.05);
}
.alexa-aliens {
  top: 354px;
  left: 107px;
  width: 198px;
  background-image: url('src/alexa-aliens.png');
  background-size: 198px 36px;
}
.alexa-aliens.disabled {
  width: 183px;
}
.alexa-barrel {
  top: 112px;
  left: 637px;
  width: 201px;
  background-image: url('src/alexa-barrel.png');
  background-size:201px 36px;
}
.alexa-barrel.disabled {
  width: 186px;
}
.alexa-bedtime {
  top: 234px;
  left: 515px;
  width: 206px;
  background-image: url('src/alexa-bedtime.png');
  background-size: 206px 36px;
}
.alexa-bedtime.disabled {
  width: 191px;
}
.alexa-jetpack {
  top: 112px;
  left: 107px;
  width: 239px;
  background-image: url('src/alexa-jetpack.png');
  background-size: 239px 36px;
}
.alexa-jetpack.disabled {
  width: 224px;
}
.alexa-lights {
  top: 234px;
  left: 226px;
  width: 215px;
  background-image: url('src/alexa-lights.png');
  background-size: 215px 36px;
}
.alexa-lights.disabled {
  width: 200px;
}
.alexa-toilet {
  top: 354px;
  left: 637px;
  width: 194px;
  background-image: url('src/alexa-toilet.png');
  background-size: 194px 36px;
}
.alexa-toilet.disabled {
  width: 179px;
}
.mic-animation {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 90px;
  height: 94px;
  opacity: 0;
  transition: opacity .25s linear;
}
.mic-animation.animate {
  opacity: 1;
}
.mic-text {
  position: relative;
  width: 100%;
  height: 35px;
  background: url('src/mic-text.png') no-repeat center / contain;
  opacity: 0;
  transition: opacity .25s linear;
}
.mic-text.animate {
  opacity: 1;
  animation: pulse 1s linear 0s alternate infinite none running;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}
.mic-icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 9px auto 0;
}
.mic,
.mic-circle,
.mic-circle-animation,
.mic-off,
.mic-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('src/mic.png') no-repeat center / contain;
  transform: translateZ(0);
  pointer-events: all;
}
.mic-button {
  background: transparent;
  cursor: pointer;
}
.mic-button.disabled {
  pointer-events: none;
}
.mic-circle {
  background: url('src/mic-circle.png') no-repeat center / contain;
}
.mic.hide,
.mic-circle.hide {
  opacity: 0;
}
.mic-off {
  opacity: 0;
  background: url('src/mic-off.png') no-repeat center / contain;
}
.mic-off.animate {
  opacity: 1;
}
.mic-circle-animation {
  background: url('src/mic-circle-animation.png') no-repeat center / contain;
}
.mic-circle-animation.hide {
  opacity: 0;
  animation: none;
}
.mic-circle-animation.animate {
  opacity: 1;
  animation: rotate 1s linear 0s normal infinite none running;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .5s ease-in-out;
  pointer-events: none;
}
.transition.animate {
  opacity: 1;
  pointer-events: all;
}
.alexa-prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: fit-content;
  height: 50px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .7);
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
}
.transition p {
  display: block;
  margin: 0;
  padding: 0 20px 0 40px;
  font-style: italic;
  font-size: 21px;
  line-height: 50px;
  font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
  text-align: center;
  color: white;
  background: url('src/mic.png') no-repeat left -2px top / 50px 50px;
}
.intro-video,
.on-video,
.off-video,
.base-on-video,
.alexa-video {
  position: absolute;
  top: -20px;
  left: 0;
  width: 960px;
  height: 540px;
  opacity: 0;
  transition: opacity .25s linear;
  pointer-events: none;
}
.on-video,
.off-video,
.base-on-video {
  top: 0;
}
.alexa-video.animate,
.on-video.animate,
.off-video.animate,
.base-on-video.animate {
  opacity: 1;
}
.intro-video {
  top: 0;
  opacity: 1;
  transition: none;
}

.timeout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .5s linear 1s;
  pointer-events: none;
}
.timeout-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 518px;
  height: 220px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .7);
}
.timeout.animate {
  opacity: 1;
  pointer-events: all;
}
.timeout-title {
  position: relative;
  width: 380px;
  height: 98px;
  margin: 35px auto 0;
  clear: both;
  background: url('src/timeout-title.png') no-repeat center / contain;
}
.timeout-cta-mic,
.timeout-cta-no-mic {
  position: relative;
  width: 208px;
  height: 38px;
  float: left;
  margin: 25px 0 0 35px;
  background: url('src/timeout-cta-mic.png') no-repeat center / contain;
  cursor: pointer;
  transition: all .25s ease-in-out;
}
.timeout-cta-no-mic {
  float: right;
  margin: 25px 35px 0 0;
  background: url('src/timeout-cta-no-mic.png') no-repeat center / contain;
}
.timeout-cta-mic:hover,
.timeout-cta-no-mic:hover {
  transform: scale(1.05);
}